@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');

/*
'Shadows Into Light', cursive
*/
label{
    
    width: 120px;
    horizontal-align: top;

}
.required{
    color: darkred;
}
.h-text{
    text-align: center;
    .h1{
        color: brown;
    }
}